<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<form [formGroup]="form">
  int: <input formControlName="someInt" /><br />
  text: <input formControlName="someText" /><br />
  opaque type: <input formControlName="opaqueType" /><br />
  opaque clas: <input formControlName="someClass" /><br />
  <div formGroupName="innerObj" style="padding-left:1em">
    has embedded: <input type="checkbox" formControlName="hasEmbedded" /><br />
    <div formGroupName="embedded">
      another int: <input formControlName="anotherInt" /><br />
    </div>
    Array: <br />
    <div
      formArrayName="intArray"
      *ngIf="isVisible(form.controls.innerObj.controls.intArray)"
    >
      <div
        *ngFor="
          let value of form.controls.innerObj.controls.intArray.controls;
          index as i
        "
      >
        <input [formControlName]="i" /><br />
      </div>
    </div>
  </div>
</form>

<p>Array visible: {{ form.controls.innerObj.controls.intArray | isVisible }}</p>
<p>Form status: {{ form.status }}</p>
<div>
  Form value:
  <pre>{{ formValue }}</pre>
</div>
<div>
  Form errors:
  <pre>{{ allErrors() }}</pre>
</div>
